/* font-family: 'Lora', serif;
font-family: 'Courgette', cursive;
font-family: 'Allerta', sans-serif; */
*{
  /* width: tamaño;
  height: tamaño;
  padding: tamañopx; se aplica a todas las direcciones
  padding-top: tamañopx; se aplica solo a direccion arriba
  border: tamaño tipoBorde(solid) color;
  pading: tamañoArriba tamañoDerecha tamañoAbajo tamañoiz
  margin: tamaño; funciona igual que el paddinf */

}
input, textarea{
  outline: 0;
}
input:focus{
  background: lightgray;
}
.titulo{
  font-size: 45px;
  font-family: 'Lora', serif;
  margin-bottom: 0px;
  margin-top: 70px;
  color: aliceblue;
}

.titulo span{
  text-decoration: underline;

}
.title-a{
  font-size: 24px;
  font-family: 'Courgette', cursive;
  margin-top: 0px;
}
.logotipo img{
  border-radius: 10px;
box-shadow: -5px 5px black;
}
.DatosCuriosos {
  font-size: 25px;
  color:#7f1a64;
  font-family: 'Lora', serif;
}
.DatosCuriosos h2{
  margin-left: 65px;

}
.DatoCurioso{
  font-size: 15px;
}
.portada{
  background-image: url('../images/f1.jpeg');
  background-size: cover;
  color: gold;
  padding: 20px;
  margin-bottom: 70px;
  height: 500px;
}
.menu{
  color:black;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  right: 10px;

}
.menu li{
  display: inline-block;
  margin-left: 30px;
}
.menu a{
  color: white;
  text-decoration: none;

}
body{
  font-family: 'Allerta', sans-serif;
  margin: 0px;
}

.logotipo{
  display: inline-block;
  margin: 16px 0px;
}
.header {
      position: relative;

}
.headerPrecios{
      background-color: #2F4A81;
      position: relative;
}

.contenedor{
  width: 800px;
  margin: auto; /*centrar */

}
.proyectos{
  position: center;
}
.proyectos h3{
  text-align: center;
  color: #3764ce;
  font-size: 23px;
}
.proyectos h2{
  text-align: center;
  color: #216d0e;
  font-family: 'Courgette', cursive;
  font-size: 33px;
  margin: 30px 0px 10px 0px;

}
.proyectos img{
  width: 730px;
  height: 295px;
/* align-items: center; */
  margin: 0px 0px 0px 50px;
}

.derecha{
  float: right;
  position: relative;
  top: -25px;
}
.izquierda{
  float: left;
  position: relative;
  top: 10px;
}
.DatoCurioso{
   margin: 10px;
  padding: 10px;
  /* overflow: hidden; */
  border: 1px solid #7f1a64;
  border-radius: 8px;
}
.contenedorDato1{
  margin: 1px;
  padding: 10px;
}

.contenedorDato2{
  padding: 5px;
  border-left: 20px solid white;
  display: flow-root;
}
.DatoCurioso h3{
  margin-left: 30px;
}
.DatoCurioso ol{
  margin-left: 25px;
  padding: 0px;
}

.button{
  border-radius: 12px;
  border: none;
  color: white;
  padding: 7px 12px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1e767+9,f1e767+27,f1e767+27,f1e767+30,f1e767+30,f1e767+36,f1e767+36,feb645+73 */
  background: #f1e767; /* Old browsers */
  background: -moz-linear-gradient(left, #f1e767 9%, #f1e767 27%, #f1e767 27%, #f1e767 30%, #f1e767 30%, #f1e767 36%, #f1e767 36%, #feb645 73%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f1e767 9%,#f1e767 27%,#f1e767 27%,#f1e767 30%,#f1e767 30%,#f1e767 36%,#f1e767 36%,#feb645 73%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f1e767 9%,#f1e767 27%,#f1e767 27%,#f1e767 30%,#f1e767 30%,#f1e767 36%,#f1e767 36%,#feb645 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=1 ); /* IE6-9 */
  /* background: linear-gradient(to left, #fe344e,#ff7250); */
  /* background: #fd324e; */
}
.footer {
  background: #2F4A81;
}
.contacto img{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 254px;
  height: 70px;
  border-radius: 5px;
  margin: 30px 0px 0px 0px;
}

.contacto strong {
  display: block;

}
.contacto a{
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0px;
}
.footer .contenedor{
  display: flex;
  justify-content: space-between;
}

.contacto{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}

.formulario {
  display: flex;
  width: 400px;
  color: white;
  padding: 50px 50px;
}

.col1, .col2{
display: flex;
flex-direction: column;
}

.col1{
  margin-right: 15px;
}
.col2{
  align-items: flex-start;
}
.intereses{
  margin: 2px;

}
.intereses label{
  font-size: 12px;
}
.formulario label, .sexo, .intereses {
  margin-bottom: 10px;
}
.sexo{
  margin-top: 10px;
}
table{
  width: 100%;
}
th{
  background: #273b47;
  color: white;
  padding: 10px 20px ;
  text-align: left;
}
td{
  padding: 20px;
}
table,td,th{
  border: 1px solid #273b47;

  border-collapse: collapse;
}
h4{
  color: white;
  margin: auto;
  padding: 60px 10px 10px 300px;
}
.menu li::before{
  /* content: "hola"; */
   content:  '∘';
   font-size: 15px;
   /*alto de linea */
   line-height: 20px;
   color: white;
}
.tabla{
  margin: 57px 0px;
}
