/* font-family: 'Lora', serif;
font-family: 'Courgette', cursive;
font-family: 'Allerta', sans-serif; */
*{
  /* width: tamaño;
  height: tamaño;
  padding: tamañopx; se aplica a todas las direcciones
  padding-top: tamañopx; se aplica solo a direccion arriba
  border: tamaño tipoBorde(solid) color;
  pading: tamañoArriba tamañoDerecha tamañoAbajo tamañoiz
  margin: tamaño; funciona igual que el paddinf */

}


.titulo{
  font-size: 45px;
  font-family: 'Lora', serif;
  margin-bottom: 0px;
  margin-top: 70px;
  color: aliceblue;
}
.title-a{
  font-size: 24px;
  font-family: 'Courgette', cursive;
  margin-top: 0px;
}
.DatosCuriosos {
  font-size: 25px;
  color:#7f1a64;
  font-family: 'Lora', serif;
}
.DatosCuriosos h2{
  margin-left: 65px;

}
.DatoCurioso{
  font-size: 15px;
}
.portada{
  background-image: url('../images/f1.jpeg');
  color: gold;
  padding: 20px;
  margin-bottom: 70px;
}
.menu{
  color:black;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  right: 10px;

}
.menu li{
  display: inline-block;
  margin-left: 30px;
}
body{
  font-family: 'Allerta', sans-serif;
  margin: 0px;
}

.logotipo{
  display: inline-block;
}
.header {
      position: relative;
}

.contenedor{
  width: 800px;
  margin: auto; /*centrar */

}

.derecha{
  float: right;
  position: relative;
  top: -25px;
}
.izquierda{
  float: left;
  position: relative;
  top: 10px;
}
.DatoCurioso{
   margin: 10px;
  padding: 10px;
  /* overflow: hidden; */
  border: 1px solid #7f1a64;
  border-radius: 8px;
}
.contenedorDato1{
  margin: 1px;
  padding: 10px;
}

.contenedorDato2{
  padding: 5px;
  border-left: 20px solid white;
  display: flow-root;
}
.DatoCurioso h3{
  margin-left: 30px;
}
.DatoCurioso ol{
  margin-left: 25px;
  padding: 0px;
}

.button{
  border-radius: 5px;
  border: none;
  background: #7f1a64;
  color: white;
  padding: 5px;
}
.footer {
  background: #000080;
}
.contacto img{
  display: flex;
  width: 300px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contacto strong {
  display: block;

}
.contacto a{
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0px;
}
.footer .contenedor{
  display: flex;
  justify-content: space-between;
}

.contacto{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}

.formulario {
  display: flex;
  width: 400px;
  color: white;
  padding: 50px 50px;
}

.col1, .col2{
display: flex;
flex-direction: column;
}

.col1{
  margin-right: 15px;
}
.col2{
  align-items: flex-start;
}
.intereses{
  margin: 2px;

}
.intereses label{
  font-size: 12px;
}
.formulario label, .sexo, .intereses {
  margin-bottom: 10px;
}
.sexo{
  margin-top: 10px;
}
